*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer_grid{
    background-color: black;
    height: 510px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer_container{
    padding-top: 50px;
    height: 350px;
    border-bottom: 1px solid #ccc;
}

.footer_block{
    height: 340px;
}

.block1{
    width: 100%;
}

.footer_logo{
    text-align: left;
    height: 48px;
    width: 100%;
}

.footer_logo a img{
    max-height: 48px;
    object-fit: cover;
}

.footer_content{
    height: 80%;
    color: white;
    font-size: 16px;
    line-height: 23px;
}

.footer_icon{
    margin-top: 20px;
    display: flex;
    font-size: 25px;
    text-align: left;
}

.icon_footer{
    margin-right: 15px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 50px;
}

.content_text{
    margin-top: 20px;
}

.bxl-facebook,
.bxl-twitter{
    color: rgb(0, 162, 255);
}
.bxl-youtube{
    color: rgb(255, 0, 0);
}
.bxl-tiktok{
    color: white;
    text-shadow: -1px 0 rgb(255, 0, 0), 0 1px rgb(0, 255, 128),1px 0 rgb(255, 0, 0), 0 -1px rgb(34, 255, 0);
}

.header_title-block{
    display: flex;
    justify-content: space-between;
}

.title_block{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header_title-block i .down_title{
    display: none;
}

.list_title{
    list-style: none;
    font-size: 15px;
    line-height: 27px;
    text-decoration: none;
}

.title_links a{
    text-decoration: none;
    color: #ccc;
    display: flex;
}

.footer-phone{
    font-size: 16px;
    margin-left:5px;
    color: rgb(0, 162, 255);
}
.footer_last{
    display: flex;
}
.last_text{
    color: white;
    width: 70%;
    color: #ccc;
    font-size: 13px;
}
.footer_logo_last{
    width: 30%;
    text-align: right;
}

.footer_logo_last img{
    width: 139px;
    height: 42px;
    object-fit: cover;
}